.bigScreen{
    position : fixed;
    width: 100%;
    height : 100%;
    top : 0;
    background-color : #fce006;
    color : white;
    justify-content: center;
    align-items: center;
    font-size : 28px;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
    padding : 0px 20px;
    display : none;
}
